@forward 'reset.css';
@forward './styles/color-variables';
@forward './styles/typography';
// @forward "./styles/_global";
@forward "./styles/_header";
@forward "./styles/_heropage";
@forward './styles/_client';
@forward './styles/community';
@forward "./styles/_pixelgrade";
@forward "./styles/_localBusiness";
@forward "./styles/_design";
@forward "./styles/_tesla";
@forward "./styles/_caring";
@forward "./styles/_demo";
@forward "./styles/footer";




@font-face {
    font-family: Inter;
    src: url(font/Inter/Inter-VariableFont_slnt\,wght.ttf);
  }

  * {
    box-sizing: border-box;
  }
  
  html {
    width: 100vw;
  }

  body {
    margin: 0;
    font-family: Inter;
  }

