// @forward "./global.scss";

#client{
    text-align: center;
    padding: var(--size-12) var(--size-4);
            .logosGrid{
                display: grid;
                grid-template-columns: repeat(7,1fr);
                justify-items: center;
                align-items: center;
            }
}
@media all and (min-width:1100px){
    .tittle{
        font-size: var(--size-12);
    }
    .description{
        font-size: var(--size-6);
         padding-bottom: var(--size-12);
        }
            .logosGrid{
                .img-logo{
                    width: 50px;
                    height: auto;
                }
            }
        }
    
    
    