#demo{
    text-align: center;
    padding: var(--size-20) var(--size-4);
    .btn{
        &.btnPrimary{
            .arrow{
                position: relative;
                display: inline-block;
                width: 20px;
                left:5px;
                bottom:4px;
                height: 4px;
                background-color: var(--color-white);
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    right: 0px;
                    top: -4px;
                    border: solid var(--color-white);
                    border-width: 0 4px 4px 0;
                    padding: 4px;
                    transform: rotate(-45deg);
            }
                }
        }
    }
}
@media all and (min-width:1100px){
    #demo{
        .demoBody{
            max-width: 1200px;
            margin:auto;
            .title{
                font-size: var(--size-22);
            }
        }
    }
}