header{
    padding: var(--size-4) var(--size-4);
    max-width: 1600px;
    margin: auto;
    .logo{
        position: absolute;
        left: 16px;
        top: 31px;
        cursor: pointer;
    }
    nav{
        display: none;
    }
    .btnContent{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap:var(--size-4);
        align-items: center;

        .btn{
        &.btnSecondary{
            all:unset;
            padding: var(--size-4) var(--size-8);
            font-weight: 500;
            font-size: var(--size-3);
            color: var(--color-white);
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 5px;
            background-color: var(--color-green);
            .arrow{
                position: relative;
                display: inline-block;
                width: 20px;
                left:5px;
                bottom:4px;
                height: 4px;
                background-color: var(--color-white);
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    right: 0px;
                    top: -4px;
                    border: solid var(--color-white);
                    border-width: 0 3px 3px 0;
                    padding: 4px;
                    transform: rotate(-45deg);
            }
                }

        }
    }
        .burgerMenu{
            margin:0;
            display: flex;
            flex-direction: column;
            gap: 3px; 

        .burgerNav{
            background-color: var(--color-black);
            height: 2px;
            width: 20px;
            }
        }
  }
}
@media all and (min-width:768px){
    header{ 
        display: flex;
        gap:var(--size-12);
        justify-content: flex-end;
        align-items: center;
        .logo{
        left: 50px;
        }
        nav{
            display: flex;
            flex-direction: row;
            gap:var(--size-4);
            .list{
                all:unset;
                color:var(--color-d_grey);
                font-size: var(--size-4);
            }
        }
            .btnContent{
                .btn{
                &.btnSecondary{
                    text-align: center;
                    font-size: var(--size-4);
                    padding: var(--size-4) var(--size-10);
                }
            }
            }
            .burgerMenu{     
                .burgerNav{
                    display: none;
                    }
            }
        }
}
@media all and (min-width:1100px){
    header{
        .logo{
            left: 150px;
        }
    }
}
