

#heropage{
    text-align: center;
    padding: var(--size-12) var(--size-4);
    background-color: var(--color-silver);
}
 @media all and (min-width:1100px){
#heropage{
    .heroBody{
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        align-items: center;
        .content{
            max-width:900px;
            margin: auto;
            text-align: left;
            h1{
                font-size: var(--size-20);
                padding:var(--size-20) 0 var(--size-8) 0;
            }
            .description{
                font-size: var(--size-6);
                padding-bottom: var(--size-12);
            }
            .btn{ 
            &.btnPrimary{
                font-size: var(--size-6);
                margin: 0;
                margin-bottom: var(--size-24);
            }
        }
        .img-heropage{
            width: 400px;
            height: 400px;
            align-self: center;
        }
    }
}
}
}
