/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-black:#263238;
  --color-d_grey:#4D4D4D;
  --color-grey:#717171;
  --color-l_grey: #89939E;
  --color-grey_blue:#ABBED1;
  --color-silver:#F5F7FA;
  --color-white:#fff;
  --color-green:#43A046;
  --color-l_dark:#263238;
  --color-blue:#2194f3;
} 
@font-face {
  font-family: Inter;
  src: url(font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
:root {
  --size-1:0.25rem;
  --size-2:0.5rem;
  --size-3:0.75rem;
  --size-4:1rem;
  --size-5:1.25rem;
  --size-6:1.5rem;
  --size-7:1.75rem;
  --size-8:2rem;
  --size-9:2.25rem;
  --size-10:2.5rem;
  --size-11:2.75rem;
  --size-12:3rem;
  --size-13:3.25rem;
  --size-14:3.5rem;
  --size-15:3.75rem;
  --size-16:4rem;
  --size-17:4.25rem;
  --size-18:4.5rem;
  --size-19:4.75rem;
  --size-20:5rem;
  --size-21:5.25rem;
  --size-22:5.5rem;
  --size-23:5.75rem;
  --size-24:6rem;
}

h1 {
  padding-bottom: var(--size-6);
  color: var(--color-d_grey);
  font-size: var(--size-12);
  font-weight: 700;
  letter-spacing: 1px;
}
h1 .heading-detail {
  color: var(--color-green);
}

h2.heading-2, .title.heading-2 {
  padding-bottom: var(--size-6);
  color: var(--color-d_grey);
  font-size: var(--size-10);
  font-weight: 500;
  letter-spacing: 1px;
}

h3, .title {
  padding-bottom: var(--size-6);
  color: var(--color-d_grey);
  font-size: var(--size-9);
  font-weight: 500;
  letter-spacing: 1px;
}

h4, .title {
  padding-bottom: var(--size-6);
  color: var(--color-grey);
  font-size: var(--size-7);
  font-weight: 600;
  letter-spacing: 1px;
}

.description {
  padding-bottom: var(--size-6);
  color: var(--color-grey);
}

.btn.btnPrimary {
  all: unset;
  margin: 0 auto var(--size-6) auto;
  display: block;
  padding: var(--size-4) var(--size-8);
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
}
.btn.btnSecondary {
  all: unset;
  margin: 0 auto var(--size-6) auto;
  display: block;
  padding: var(--size-4) var(--size-10);
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
}
.btn.btnInfo {
  all: unset;
  display: block;
  margin: 0 auto var(--size-6) auto;
  background-color: transparent;
  color: var(--color-green);
  font-size: var(--size-6);
  font-weight: 700;
  cursor: pointer;
}
.btn.btnInfo .arrow {
  position: relative;
  display: inline-block;
  width: 20px;
  left: 5px;
  bottom: 4px;
  height: 4px;
  background-color: var(--color-green);
}
.btn.btnInfo .arrow::after {
  content: "";
  position: absolute;
  display: block;
  right: 0px;
  top: -4px;
  border: solid var(--color-green);
  border-width: 0 4px 4px 0;
  padding: 4px;
  transform: rotate(-45deg);
}

header {
  padding: var(--size-4) var(--size-4);
  max-width: 1600px;
  margin: auto;
}
header .logo {
  position: absolute;
  left: 16px;
  top: 31px;
  cursor: pointer;
}
header nav {
  display: none;
}
header .btnContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--size-4);
  align-items: center;
}
header .btnContent .btn.btnSecondary {
  all: unset;
  padding: var(--size-4) var(--size-8);
  font-weight: 500;
  font-size: var(--size-3);
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--color-green);
}
header .btnContent .btn.btnSecondary .arrow {
  position: relative;
  display: inline-block;
  width: 20px;
  left: 5px;
  bottom: 4px;
  height: 4px;
  background-color: var(--color-white);
}
header .btnContent .btn.btnSecondary .arrow::after {
  content: "";
  position: absolute;
  display: block;
  right: 0px;
  top: -4px;
  border: solid var(--color-white);
  border-width: 0 3px 3px 0;
  padding: 4px;
  transform: rotate(-45deg);
}
header .btnContent .burgerMenu {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
header .btnContent .burgerMenu .burgerNav {
  background-color: var(--color-black);
  height: 2px;
  width: 20px;
}

@media all and (min-width: 768px) {
  header {
    display: flex;
    gap: var(--size-12);
    justify-content: flex-end;
    align-items: center;
  }
  header .logo {
    left: 50px;
  }
  header nav {
    display: flex;
    flex-direction: row;
    gap: var(--size-4);
  }
  header nav .list {
    all: unset;
    color: var(--color-d_grey);
    font-size: var(--size-4);
  }
  header .btnContent .btn.btnSecondary {
    text-align: center;
    font-size: var(--size-4);
    padding: var(--size-4) var(--size-10);
  }
  header .burgerMenu .burgerNav {
    display: none;
  }
}
@media all and (min-width: 1100px) {
  header .logo {
    left: 150px;
  }
}
#heropage {
  text-align: center;
  padding: var(--size-12) var(--size-4);
  background-color: var(--color-silver);
}

@media all and (min-width: 1100px) {
  #heropage .heroBody {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
  }
  #heropage .heroBody .content {
    max-width: 900px;
    margin: auto;
    text-align: left;
  }
  #heropage .heroBody .content h1 {
    font-size: var(--size-20);
    padding: var(--size-20) 0 var(--size-8) 0;
  }
  #heropage .heroBody .content .description {
    font-size: var(--size-6);
    padding-bottom: var(--size-12);
  }
  #heropage .heroBody .content .btn.btnPrimary {
    font-size: var(--size-6);
    margin: 0;
    margin-bottom: var(--size-24);
  }
  #heropage .heroBody .content .img-heropage {
    width: 400px;
    height: 400px;
    align-self: center;
  }
}
#client {
  text-align: center;
  padding: var(--size-12) var(--size-4);
}
#client .logosGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

@media all and (min-width: 1100px) {
  .tittle {
    font-size: var(--size-12);
  }
  .description {
    font-size: var(--size-6);
    padding-bottom: var(--size-12);
  }
  .logosGrid .img-logo {
    width: 50px;
    height: auto;
  }
}
#community {
  text-align: center;
  padding: var(--size-12) var(--size-4);
}
#community .article_Grid .article {
  max-width: 350px;
  margin: auto;
  padding-bottom: var(--size-8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#community .article_Grid .article .icon {
  width: 70px;
  padding-bottom: var(--size-4);
}
#community .article_Grid .article .info {
  color: var(--color-grey);
}

@media all and (min-width: 1100px) {
  .tittle {
    font-size: var(--size-12);
  }
  .description {
    font-size: var(--size-6);
    padding-bottom: var(--size-12);
  }
  .article_Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .article_Grid .info {
    font-size: var(--size-5);
  }
}
#pixelgrade {
  text-align: center;
  padding: var(--size-12) var(--size-4);
}

@media all and (min-width: 1100px) {
  #pixelgrade .pixelgradeBody {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
  }
  #pixelgrade .pixelgradeBody .content {
    max-width: 900px;
    margin: auto;
    text-align: left;
  }
  #pixelgrade .pixelgradeBody .content .title {
    font-size: var(--size-12);
    padding: var(--size-20) 0 var(--size-8) 0;
  }
  #pixelgrade .pixelgradeBody .content .description {
    font-size: var(--size-5);
    padding-bottom: var(--size-12);
  }
  #pixelgrade .pixelgradeBody .content .btn.btnPrimary {
    font-size: var(--size-6);
    margin: 0;
    margin-bottom: var(--size-24);
  }
  #pixelgrade .pixelgradeBody .img-people {
    width: 400px;
    height: 400px;
    align-self: center;
  }
}
#localBusiness {
  overflow-x: hidden;
  text-align: center;
  padding: var(--size-12) var(--size-4);
  background-color: var(--color-silver);
}
#localBusiness .localBusinessBody {
  max-width: 1600px;
  margin: auto;
}
#localBusiness .localBusinessBody .article_Grid {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: var(--size-4);
  justify-content: center;
}
#localBusiness .localBusinessBody .article_Grid .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-4);
}
#localBusiness .localBusinessBody .article_Grid .content .icon {
  fill: var(--color-green);
  width: 30px;
  height: 30px;
}
#localBusiness .localBusinessBody .article_Grid .content .number {
  font-size: var(--size-8);
  font-weight: 700;
  text-align: left;
}
#localBusiness .localBusinessBody .article_Grid .content .number .info {
  display: block;
  color: var(--color-grey);
  font-weight: 300;
}

@media all and (min-width: 1100px) {
  #localBusiness .localBusinessBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  #localBusiness .localBusinessBody .article_Grid {
    justify-content: end;
    align-items: baseline;
    align-content: space-around;
  }
  #localBusiness .localBusinessBody .text {
    text-align: left;
    max-width: 40vw;
  }
}
#design {
  text-align: center;
  padding: var(--size-12) var(--size-4);
}

@media all and (min-width: 1100px) {
  #design .designBody {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
  }
  #design .designBody .img-woman {
    width: 400px;
    height: 400px;
    align-self: center;
  }
  #design .designBody .content {
    max-width: 900px;
    margin: auto;
    text-align: left;
  }
  #design .designBody .content .title {
    font-size: var(--size-12);
    padding: var(--size-20) 0 var(--size-8) 0;
  }
  #design .designBody .content .description {
    font-size: var(--size-5);
    padding-bottom: var(--size-12);
    text-align: left;
  }
  #design .designBody .content .btn.btnPrimary {
    font-size: var(--size-6);
    margin: 0;
    margin-bottom: var(--size-24);
  }
}
#tesla {
  text-align: center;
  padding: var(--size-12) var(--size-4);
  background-color: var(--color-silver);
}
#tesla .teslaBody {
  max-width: 1600px;
  margin: auto;
}
#tesla .teslaBody .content .title {
  color: var(--color-green);
}
#tesla .teslaBody .content .title .littleTitle {
  display: block;
  font-size: var(--size-4);
  color: var(--color-l_grey);
  font-weight: 400;
}
#tesla .teslaBody .content .logosGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

@media all and (min-width: 1100px) {
  #tesla .teslaBody {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: stretch;
    justify-items: start;
  }
  #tesla .teslaBody .img-tesla {
    width: 90%;
  }
  #tesla .teslaBody .content {
    text-align: left;
    display: grid;
    align-content: center;
    gap: var(--size-8);
  }
}
#caring {
  text-align: center;
  padding: var(--size-12) var(--size-4);
}
#caring .imgsGrid .box .img-caringSectionGrid {
  z-index: 0;
  width: 80%;
}
#caring .imgsGrid .box .boxText {
  padding: var(--size-4);
  background-color: var(--color-silver);
  max-width: 70%;
  margin: auto;
  border-radius: 30px;
  z-index: 10;
  position: relative;
  top: -50px;
}
#caring .imgsGrid .box .boxText .tittle {
  font-size: var(--size-6);
}

@media all and (min-width: 1100px) {
  #caring .caringBody {
    max-width: 1600px;
    margin: auto;
  }
  #caring .caringBody .imgsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #caring .caringBody .imgsGrid .box {
    display: inline;
  }
  #caring .caringBody .imgsGrid .box .img-caringSectionGrid {
    z-index: 0;
    width: 90%;
  }
  #caring .caringBody .imgsGrid .box .boxText {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: var(--size-4);
    background-color: var(--color-silver);
    max-width: 80%;
    margin: auto;
    border-radius: 30px;
    z-index: 10;
    position: relative;
    top: -50px;
  }
  #caring .caringBody .imgsGrid .box .boxText .tittle {
    font-size: var(--size-9);
  }
}
#demo {
  text-align: center;
  padding: var(--size-20) var(--size-4);
}
#demo .btn.btnPrimary .arrow {
  position: relative;
  display: inline-block;
  width: 20px;
  left: 5px;
  bottom: 4px;
  height: 4px;
  background-color: var(--color-white);
}
#demo .btn.btnPrimary .arrow::after {
  content: "";
  position: absolute;
  display: block;
  right: 0px;
  top: -4px;
  border: solid var(--color-white);
  border-width: 0 4px 4px 0;
  padding: 4px;
  transform: rotate(-45deg);
}

@media all and (min-width: 1100px) {
  #demo .demoBody {
    max-width: 1200px;
    margin: auto;
  }
  #demo .demoBody .title {
    font-size: var(--size-22);
  }
}
footer {
  text-align: center;
  padding: var(--size-12) var(--size-4);
  background-color: var(--color-l_dark);
  color: var(--color-white);
}
footer .footerBody {
  max-width: 1600px;
  margin: auto;
}
footer .footerBody .rights {
  padding-bottom: var(--size-4);
}
footer .footerBody .rights span {
  display: block;
}
footer .footerBody .social {
  display: inline-block;
  fill: var(--color-white);
  margin-left: 15px;
  width: 30px;
  height: 30px;
}
footer .footerBody .title {
  color: var(--color-white);
  padding: var(--size-10) 0;
}
footer .footerBody .list {
  padding-bottom: var(--size-4);
}
footer .footerBody .contact .email {
  max-width: 400px;
  margin: auto;
  background-color: var(--color-grey);
  padding: var(--size-4) var(--size-4);
  border-radius: 10px;
}
footer .footerBody .contact .email .arrowSend {
  fill: var(--color-white);
  display: inline;
  margin-left: 105px;
  width: 20px;
  height: 20px;
}

@media all and (min-width: 1100px) {
  footer .footerBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  footer .footerBody .rights,
  footer .footerBody .title,
  footer .footerBody .list {
    text-align: left;
  }
  footer .footerBody .list,
  footer .footerBody .email {
    font-size: var(--size-5);
  }
  footer .footerBody .email {
    padding: var(--size-4) var(--size-8);
  }
}
* {
  box-sizing: border-box;
}

html {
  width: 100vw;
}

body {
  margin: 0;
  font-family: Inter;
}/*# sourceMappingURL=style.css.map */